*{
    margin: 0;
    padding: 0;
    font-family: Courier New;
}

header{
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid white;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

.main{
    max-width: 1800px;
    margin: auto;
}
