*{
    margin: 0;
    padding: 0;
    font-family: Courier New;
}

header{
    background-size: cover;
    background-position: center;
}

ula{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}

ula li{
    display: inline-block;
}

ula li a{
    text-decoration: none;
    color: #000;
    padding: 8px 15px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ula li a:hover{
    background-color: #000;
    color: #fff;
}


.main{
    max-width: 1800px;
    margin: auto;
}

