*{
    margin: 0;
    padding: 0;
    font-family: Courier New;
}

header{
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #000;
    color: #fff;
}

.main{
    max-width: 1800px;
    margin: auto;
}

.form{
    position: absolute;
    width: 100%;
    margin-top: 15%;
    text-align: center;
    color: #000;
    font-size: 20px;
}

#textboxid
{
    height:35px;
    width:250px;
    font-size:16px;
}

