<h1>Holla!</h1>
<ul>
    <!-- {{ user.username }} -->

    <a href="/contest/{{ contestId }}/ranklist/">Ranklist</a>
    {% for problem in all_problems %}
    <li>{{ problem.problemName }}
        <!-- {{ problem.problemCode }} -->
        <form action="/contest/{{ contestId }}/{{ problem.id }}/"
        style="display: inline;"
        method="post">
        {% csrf_token %}
        <input type="submit" value="Go to problem"/>
        </form>
        <p> </p>
        <p> </p>
    </li>
    {% endfor %}
    <br>
    {% if status %}
    <p>{{ status }} . Your submission won't count against your score in this contest</p>
    {% endif %}
</ul>