
<!doctype html>
<html lang="en">
  <head>
        <title>Create a contest</title>
        <link rel="stylesheet" type="text/css"  href="../../static/css/createContest.css">
        <style>
            .dropbtn {
                text-decoration: none;
                color: #000;
                background-color: #f9f9f9;
                font-size: 15px;
                padding: 6.5px 15px;
                border: 1px solid #f9f9f9;
                transition: 0.6s ease;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                transition: 0.6s ease;
            }

            .dropdown-content a {
                color: black;
                padding: 8px 15px;
                text-decoration: none;
                display: block;
                transition: 0.6s ease;
            }

.dropdown-content a:hover {background-color: #000;
    color: #fff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:black;
    color: #f9f9f9;}

</style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static "/docs/4.0/assets/img/favicons/favicon.ico" %}">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/form-validation.css" %}" rel="stylesheet">
  </head>

  <body class="bg-light">
        <header>
            <div class="main">
                <ul>
                    <li class="active"><a href="/dashboard">Home</a></li>
                    <div class="dropdown">
                        <button class="dropbtn">Problems</button>
                            <div class="dropdown-content">
                                <a href="/dashboard/problems/">View</a>
                                <a href="/dashboard/createProblem/">Create</a>
                            </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Contests</button>
                            <div class="dropdown-content">
                                <a href="/contest/all/">View</a>
                                <a href="/contest/create/">Create</a>
                            </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Profile</button>
                            <div class="dropdown-content">
                                <a href="/userprofile/">View</a>
                                <a href="/userprofile/updateProfile">Update</a>
                            </div>
                    </div>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </div>
        </header>

    <div class="container">

      <div class="row">

        <div class="col-md-12">
          <br> <br> <br> <h1 class="mb-3">Create Contest</h1>
          <div><br></div>
          <form action="/contest/submit/" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
             <div class="row">
              <div class="col-md-6 mb-3">
                <label for="contestCode">Contest Code</label>
                <input type="text" class="form-control" id="contestCode" name="contestCode" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid contest code is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="contestName">Contest name</label>
                <input type="text" class="form-control" id="contestName" name="contestName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid contest name is required.
                </div>
              </div>
            </div>
            <br>
            <h4 class="mb-3">Start Date</h4>
            <div class="row">
              <div class="col-md-4 mb-1">
                <label for="day">Select Day</label>
                <select class="custom-select d-block w-50" id="day" name="day" required>
                  <option value="">Choose...</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid day for your contest.
                </div>
              </div>

              <div class="col-md-4 mb-1">
                  <label for="month">Select month</label>
                  <select class="custom-select d-block w-50" id="month" name="month" required>
                    <option value="">Choose...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>

                  </select>
                  <div class="invalid-feedback">
                    Please select valid month for your contest.
                  </div>
              </div>
              <div class="col-md-4 mb-1">
                <label for="year">Select year</label>
                <select class="custom-select d-block w-50" id="year" name="year" required>
                  <option value="">Choose...</option>
                  <option>2020</option>
                  <option>2021</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid year for your contest.
                </div>
            </div>
          </div>
          <div><br><br></div>

          <h4 class="mb-3">Start Time</h4>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="start_hours">Select start hours</label>
              <select class="custom-select d-block w-100" id="start_hours" name="start_hours" required>
                <option value="">Choose...</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
              </select>
              <div class="invalid-feedback">
                Please select valid start hour for your contest.
              </div>
            </div>

            <div class="col-md-5 mb-3">
                <label for="start_minutes">Select start minutes</label>
                <select class="custom-select d-block w-100" id="start_minutes" name="start_minutes" required>
                  <option value="">Choose...</option>
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                  <option>32</option>
                  <option>33</option>
                  <option>34</option>
                  <option>35</option>
                  <option>36</option>
                  <option>37</option>
                  <option>38</option>
                  <option>39</option>
                  <option>40</option>
                  <option>41</option>
                  <option>42</option>
                  <option>43</option>
                  <option>44</option>
                  <option>45</option>
                  <option>46</option>
                  <option>47</option>
                  <option>48</option>
                  <option>49</option>
                  <option>50</option>
                  <option>51</option>
                  <option>52</option>
                  <option>53</option>
                  <option>54</option>
                  <option>55</option>
                  <option>56</option>
                  <option>57</option>
                  <option>58</option>
                  <option>59</option>
                </select>
                <div class="invalid-feedback">
                  Please select valid start minutes for your contest.
                </div>
            </div>
        </div>
        <div><br></div>
            <h4 class="mb-3">Duration</h4>
            <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="hours">Select Hours</label>
                  <select class="custom-select d-block w-100" id="hours" name="hours" required>
                    <option value="">Choose...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select valid hours for your contest.
                  </div>
                </div>

                <div class="col-md-5 mb-3">
                    <label for="minutes">Select minutes</label>
                    <select class="custom-select d-block w-100" id="minutes" name="minutes" required>
                      <option value="">Choose...</option>
                      <option>0</option>
                      <option>15</option>
                      <option>30</option>
                      <option>45</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select valid minutes for your contest.
                    </div>
                  </div>
            </div>
            <div><br></div>
            <h4 class="mb-3">Marking Type</h4>
            <div class="row">
            <div class="col-md-5 mb-3">
                <label for="marking">Select Marking Style</label>
                <select class="custom-select d-block w-100" id="marking" name="marking" required>
                  <option value="">Choose...</option>
                  <option>IOI</option>
                  <option>ICPC</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid marking style.
                </div>
              </div>
            </div>
            <div><br></div>
            <h4 class="mb-3">List of Available Problems</h4>
            {% for question in all_problems %}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id={{ question.problemCode }} name="checks[]" value={{ question.problemCode }}>
                <label class="custom-control-label" for={{ question.problemCode }}> {{ question.problemName }} </label>
                <a href="/dashboard/problems/{{ question.id }}/">view</a>
            </div>
            {% endfor %}

            <div><br><br></div>


            <!-- <hr class="mb-4"> -->
            <button class="btn btn-primary" type="submit">Submit Contest</button>
            <br><br>
          </form>
        </div>
      </div>
      <div><br></div>
      <p>  </p>
      <p>  </p>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static "js/vendor/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendor/holder.min.js" %}"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>

