
<!doctype html>
<html lang="en">
  <head>
    <title> Create a problem </title>
        <link rel="stylesheet" type="text/css"  href="../../static/css/createproblem.css">

        <style>
            .dropbtn {
                text-decoration: none;
                color: #000;
                font-size: 15px;
                padding: 8px 15px;
                border: 1px solid transparent;
                transition: 0.6s ease;
                margin-top: 40px;
                background-color: #f9f9f9;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                transition: 0.6s ease;
            }

            .dropdown-content a {
                color: black;
                padding: 8px 15px;
                text-decoration: none;
                display: block;
                transition: 0.6s ease;
            }

.dropdown-content a:hover {background-color: #000;
    color: #fff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #000;
    color: #fff;}

</style>
    <header>
            <div class="main">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <div class="dropdown">
                        <button class="dropbtn">Problems</button>
                            <div class="dropdown-content">
                                <a href="/dashboard/problems/">View</a>
                                <a href="/dashboard/createProblem/">Create</a>
                            </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Contests</button>
                            <div class="dropdown-content">
                                <a href="/contest/all/">View</a>
                                <a href="/contest/create/">Create</a>
                            </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Profile</button>
                            <div class="dropdown-content">
                                <a href="/userprofile/">View</a>
                                <a href="/userprofile/updateProfile">Update</a>
                            </div>
                    </div>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </div>
        </header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "form-validation.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "js/uploadFiles.js" %}"></script>
  </head>

  <body class="bg-light">


    <div class="container">

      <div class="row">

        <div class="col-md-8 order-md-1">
          <h4 class="mb-3"><br> <br> <br> <br> <br>   &nbspCreate Problem <br> <br> </h4>
          <form action="/dashboard/createProblem/" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <!-- <div class="row"> -->
              <div class="col-md-6 mb-3">
                <label for="problemCode">Problem Code</label>
                <input type="text" class="form-control" id="problemCode" placeholder="" value="" name="problemCode" required>
                <div class="invalid-feedback">
                  Problem Code is required.
                </div>
              </div>
            <!-- </div> -->
              <div class="col-md-6 mb-3">
                <label for="problemName">Problem Name</label>
                <input type="text" class="form-control" id="problemName" placeholder="" value="" name="problemName" required>
                <div class="invalid-feedback">
                  Problem Name is required.
                </div>
              </div>

              <!-- <h4>Problem Statement</h4> -->
            <div class="col-md-12 mb-3">
              <!-- <label for="username">Username</label> -->
              <label for="problemStatement">Problem Statement</label>
              <div class="input-group">
                <!-- <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div> -->
                <textarea class="form-control" rows="20" name="problemStatement" id="problemStatement"></textarea>
                <!-- <input type="textarea" rows="20" class="form-control" id="username" placeholder="Username" required> -->
                <!-- <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div> -->
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="timeLimit">Time Limit</label>
              <input type="text" class="form-control" id="timeLimit" name="timeLimit" placeholder="" value="" required>
              <div class="invalid-feedback">
                Time Limit is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="memoryLimit">Memory Limit</label>
              <input type="text" class="form-control" id="memoryLimit" name="memoryLimit" placeholder="" value="" required>
              <div class="invalid-feedback">
                Memory Limit is required.
              </div>
            </div>

            <hr class="mb-4">


            <h4 class="col-md-6 mb-3">Visibility</h4>

            <div class="col-md-6 mb-3">
              <div class="custom-control custom-radio">
                <input id="public" name="visibility" type="radio" value="1" class="custom-control-input" checked required>
                <label class="custom-control-label" for="public">Public</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="private" name="visibility" type="radio" value="0" class="custom-control-input" required>
                <label class="custom-control-label" for="private">Private</label>
              </div>

            </div>

            <hr class="mb-4">

            <h4 class="mb-3">Problem Type</h4>
            <div class="col-md-6 mb-3">
              <div class="custom-control custom-radio">
                <input id="ioi" name="problemType" type="radio" value="1" class="custom-control-input" checked required>
                <label class="custom-control-label" for="ioi">IOI</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="icpc" name="problemType" type="radio" value="0" class="custom-control-input" required>
                <label class="custom-control-label" for="icpc">ICPC</label>
              </div>

            </div>

            <hr class="mb-4">

            <h4 class="mb-3">Upload init.yml</h4>
            <div class="col-md-6 mb-3">
              <!-- <label for="ymlFile">Upload init.yml file</label> -->
              <!-- <input type="text" class="form-control" id="cc-name" placeholder="" required> -->

              <input type="file" id="inFile" name="uploadFiles" required>
              <!-- <label for="ymlFile">Select</label> -->

              <!-- <small class="text-muted">File should be of the form init.yml exactly</small> -->
              <div class="invalid-feedback">
                yml file required
              </div>
            </div>

            <hr class="mb-4">
            <h4 class="mb-3">Upload Tests</h4>

            <div id="uploadTests" class="mb-2">

            </div>

            <button type="button" class="btn btn-primary" onclick="addTests()">Add test cases</button>


            <hr class="mb-4">
            <button class="btn btn-primary" type="submit">Submit</button><br><br><br><br>
          </form>
        </div>
      </div>


    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script type="text/javascript" src="{% static "js/uploadFiles.js" %}"></script> -->
    <script src="{% static "https://code.jquery.com/jquery-3.2.1.slim.min.js" %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static "../../assets/js/vendor/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "../../assets/js/vendor/holder.min.js" %}"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script>
      (function() {

      })();
    </script>
  </body>
</html>
