<h1>Hello World</h1>

<!-- <table>
<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
</table> -->

<!--{{ form.non_field_errors }}
<form action="/your-name/" style="display: inline;" method="post">
    {% csrf_token %}
<div class="fieldWrapper">
    {{form.your_name.errors}}
    <label for="{{ form.your_name.id_for_label}}">Name:</label>
    {{ form.your_name }}
</div>
<div class="fieldWrapper">
    {{ form.your_pass.errors }}
    <label for="{{ form.your_pass.id_for_label }}">Password:</label>
    {{ form.your_pass }}
</div>
<div class="fieldWrapper">
    {{ form.your_code.errors }}
    <label for="{{ form.your_code.id_for_label }}">Code:</label>
    {{ form.your_code }}
</div>
<div class="fieldWrapper">
    {{ form.sender.errors }}
    <label for="{{ form.sender.id_for_label }}">Sender: </label>
    {{ form.sender }}
</div>
<div class="fieldWrapper">
    {{ form.cc_myself.errors }}
    <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
    {{ form.cc_myself }}
</div>
<input type="submit" value="Submit">
</form> -->