<h1>Problems</h1>

<ul>
    <!-- {{ user.username }} -->
    {% for problem in all_problems %}
    <li>{{ problem.problemName }} <br> <p>Successfull Submissions : {{ problem.successfulAttempts }}          Total Attempts : {{ problem.totalAttempts }} </p>  
        <!-- {{ problem.problemCode }} -->
        <form action="/dashboard/problems/{{ problem.id }}/"
        style="display: inline;"
        method="post">
        {% csrf_token %}
        <input type="submit" value="Go to problem"/>
        </form>
        <!-- <p> </p> -->
        <p> <br> </p> 
        
    </li>
    {% endfor %}
</ul>