
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static "/docs/4.0/assets/img/favicons/favicon.ico" %}">

    <title>{{ problem.problemCode }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/form-validation.css" %}" rel="stylesheet">
    <style type="text/css" media="screen">
      #editor { 
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
      }
  </style>
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-left">
        <!-- <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h2>{{ problem.problemName }}</h2>
        <p class="lead">{{ problem.problemStatement}}</p>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label style="font-size:20px;" for="firstName"><b>Problem Description</b></label>
          <p> Memory Limit : {{ problem.memoryLimit }}</p>
          <p> Time Limit : {{ problem.timeLimit }}</p>
          <p> Creator : {{ problem.creator }}</p>
        </div>
        <div class="col-md-12">
          <h4 class="mb-3">Your Code Goes Here: </h4>
          {% if contestId %}
          <form action="/contest/{{ contestId }}/{{ problem.id }}/submit/" method="post" class="needs-validation" novalidate>
          {% else %}
          <form action="/dashboard/submission/{{ problem.id }}/" method="post" class="needs-validation" novalidate>
          {% endif %}
            {% csrf_token %}
            <div>
              <!-- <div class="input-group"> -->
                <textarea class="form-control" rows="20" name="code"></textarea>
              <!-- </div->-->
            </div>
            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Select Language</label>
                <select class="custom-select d-block w-100" id="country" name="language" required>
                  <option value="">Choose...</option>
                  {% for language in languages %}
                  <option >{{language}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit Code</button>
          </form>
        </div>
      </div>

      <p>  </p>
      <p>  </p>
      
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static "js/vendor/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendor/holder.min.js" %}"></script>
    <script src="{% static "js/ace.js" %}" type="text/javascript" charset="utf-8"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script
    <script>
      function createEditor(name, language, theme) {
          // find the textarea
          var textarea = document.querySelector("form textarea[name=" + name + "]");
  
          // create ace editor 
          var editor = ace.edit()
          editor.setTheme("ace/theme/"+theme);
          editor.session.setMode("ace/mode/"+language);
          editor.container.style.height = "350px"
          editor.session.setValue(textarea.value)
          // replace textarea with ace
          textarea.parentNode.insertBefore(editor.container, textarea)
          textarea.style.display = "none"
          // find the parent form and add submit event listener
          var form = textarea
          while (form && form.localName != "form") form = form.parentNode
          form.addEventListener("submit", function() {
              // update value of textarea to match value in ace
              textarea.value = editor.getValue()
          }, true)
      }
      createEditor("code", "java", "monokai")
  </script>
  </body>
</html>

