{% load static %}
<h1><img src="/media/submittedFiles/parthendo/{{ imageName }}">Thanks for submitting. Judgement page will be added by the next meeting.</h1>
<!-- <h2>Upload</h2>
<form method="post" enctype="multiport/form-data">
{% csrf_token %}
<input type="file" name="document">
<button type="submit">Upload file</button>
</form> -->
<!-- <h1>Hello</h1>
<form action="/dashboard/createProblem/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="kiran">
    <input type="file" name="hoji">
    <input type="file" name="hoji">
      <button type="submit">Submit</button>
    </input>
</form> -->